.color-flipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use viewport height to fill the screen */
  background-color: #f0f0f0; /* Default background color */
}

.color-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}


.change-color-btn,
.show-hex-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}